<footer class="flex flex-column text-center align-items-center md:flex-row md:justify-content-around flex-wrap">
  <ul>
    <li>Julien Guérin</li>
    <li><span class="pi pi-building"></span><span class="ml-2">25 bis rue Faubourg Saint Lubin</span></li>
    <li>41 100 Vendôme</li>
    <li><span class="pi pi-envelope"></span> <a class="ml-2" href="mailto:julien.guerin.dp41@gmail.com">julien.guerin.dp41@gmail.com</a></li>
    <li><span class="pi pi-phone"></span> <a class="ml-2" href="tel:0643060287">06 43 06 02 87</a></li>
  </ul>
  <ul>
    <!--<li (click)="router.navigate(['TODO'])">Mentions Légales</li>-->
    <li>Réalisé gracieusement par
      <a class="footerLink" href="https://www.linkedin.com/in/alexandre-guerin/" target="blank">Ithrandil</a> / v
      {{webSiteVersion}}</li>
  </ul>
</footer>
