:host {
  margin-top: auto;

}
footer {
  color: #495057;
  background-color: #f8f9fa;

}
ul {
  list-style-type: none;
}

/* Link style */
:hover .link {
  cursor: pointer;
}

a:link,
a:visited,
a:active,
a:hover {
  color: #495057;
}
