:host {
  margin-top: auto;
}
footer {
  color: #495057;
  background-color: #f8f9fa;

}
ul {
  list-style-type: none;
  margin-left:0;
  padding-inline-start: 0;
}

/* Link style */
a:link,
a:visited,
a:active,
a:hover {
  color: #495057;
}
