<app-template-prospect title="Vous êtes une municipalité ou une collectivité">
  <p>Votre Municipalité ou votre Collectivité peut avoir à envisager des travaux d’entretien, de réfection, de modification ne nécessitant pas obligatoirement l’intervention d’un architecte.</p>
  <p>Je peux réaliser les plans, sortir le listing des corps d’état devant intervenir, établir le descriptif quantitatif des travaux à réaliser et une estimation actualisée avant appel d’offres. Je peux même coordonner l’intervention des entreprises sur le chantier.</p>
</app-template-prospect>
