<app-template-prospect title="Vous êtes agent immobilier">
  <p>Je connais, j’ai baigné dans ce monde depuis ma naissance, mon père promoteur, ma mère agent immobilier, mon grand-père Président de la FNAIM.</p>
  <p>Vous avez besoin pour louer ou commercialiser, notamment sur internet un appartement, une maison ou un local commercial, de plans « cotés » afin que le candidat acheteur puisse simuler son aménagement de meubles.</p>
  <p>Pour l’acte de vente d’un appartement en copropriété, le Notaire aura besoin que le vendeur lui fournisse une Attestation de surface Loi CARREZ.</p>
  <p>Je peux vous réaliser les deux, plans cotés et attestation.</p>
  <h2>Vous êtes un syndic de copropriété ou administrateur de biens</h2>
  <p>Vous êtes amenés à envisager des travaux d’entretien, de réparation, de modification, ne nécessitant pas obligatoirement l’intervention d’un architecte. Vous avez besoin, pour obtenir une décision des propriétaires, de plans et d’estimation ?</p>
  <p>Je peux réaliser les plans, sortir le listing des corps d’état devant intervenir, établir le descriptif quantitatif des travaux à réaliser et une estimation actualisée avant appel d’offres. Je peux même coordonner l’intervention des entreprises sur le chantier.</p>
</app-template-prospect>
