<app-template-prospect title="Vous êtes une entreprise de gros oeuvre">
  <p>Je suis dans le bâtiment depuis dix ans dont notamment depuis deux ans uniquement le gros œuvre, avec des appels d’offre, des mises en chantier, et des plans d’exécution.</p>
  <h2>Vous voulez répondre à un Appel d’Offre</h2>
  <p>Après rendez-vous à votre entreprise ou à distance, et la fourniture de l’ensemble des documents ( jeu de plans Architecte, documents techniques, CCTP, ...), je réalise de mon bureau à Vendôme :</p>
  <ul>
    <li>Une Maquette 3D du bâtiment</li>
    <li>Un DPGF détaillé ou personnalisé si la trame est fournie</li>
    <li>Une préparation des documents administratifs pour votre entreprise</li>
  </ul>
  <h2>Vous avez signé un marché et devez organiser votre chantier</h2>
  <p>Après rendez-vous à votre entreprise ou à distance et fourniture de l’ensemble des documents ( jeu de plans Architecte, documents techniques, CCTP, ….), je réalise de mon bureau à Vendôme</p>
  <ul>
    <li>Plan d’implantation bâtiment pour transmission au géomètre/topographe</li>
    <li>Plan d’implantation du chantier</li>
    <li>Plan de terrassement avec les plateaux</li>
    <li>Plan de calepinage des voiles contre terre</li>
    <li>Plan de fondations (à partir de l’étude de sol)</li>
    <li>Plan d’infrastructure avec détails : rampe, VH, VB, ...</li>
    <li>Plan des réseaux sous dallage avec étude de la cuve hydrocarbure</li>
    <li>Plan de superstructure avec les détails</li>
    <li>Plan d’aménagement extérieur</li>
    <li>Plan des voiries et parkings</li>
    <li>Plan des réseaux extérieurs et connexion avec l’existant</li>
    <li>Plan d’étanchéité des toitures terrasses et balcons</li>
    <li>Nomenclature des baies en béton (préfabrication)</li>
    <li>Plans de détail si nécessaire</li>
  </ul>

  <p>Bien entendu régulièrement je vous livre les plans terminés et suis à votre disposition pour assurer un rendez-vous à votre entreprise.</p>
</app-template-prospect>
