<h1>Vous êtes un bureau d’étude dans le bâtiment</h1>
<h4>Et réalisez divers projets de conception et d’exécution de chantiers de construction.</h4>
<p>Vous  avez des projets en cours et n’avez pas le temps de tout faire. Vous pourriez donc me les sous-traiter. Je suis dans la capacité de reprendre cette charge de travail pour faire avancer vos projets.</p>
<p>Je suis habitué, avec le logiciel AUTOCAD à réaliser notamment ces plans :</p>
<ul>
  <li>Plan d’implantation bâtiment pour transmission au géomètre/topographe</li>
  <li>Plan d’implantation du chantier</li>
  <li>Plan de terrassement avec les plateaux</li>
  <li>Plan de calepinage des voiles contre terre</li>
  <li>Plan de fondations (à partir de l’étude de sol)</li>
  <li>Plan d’infrastructure avec détails : rampe VH VB</li>
  <li>Plan des réseaux sous dallage avec étude de la cuve hydrocarbure</li>
  <li>Plan de superstructure avec les détails</li>
  <li>Plan d’aménagement extérieur</li>
  <li>Plan des voiries et parkings</li>
  <li>Plan des réseaux extérieurs et connexion avec l’existant</li>
  <li>Plan d’étanchéité des toitures terrasses et balcons</li>
  <li>Nomenclature des baies en béton (préfabrication)</li>
  <li>Plans de détail si nécessaire</li>
</ul>
<!--TODO: Faire un composant réutilisable simpleContactDetails ou un bouton qui redirige vers la page contact-->
<p>Contactez-moi : Julien GUERIN 06-43-06-02-87 julien.guerin.dp41@gmail.com Mes honoraires : Au temps passé, 30€/h journée 200€ ou au forfait à convenir</p>
