<h1>Vous êtes un cabinet d'architecte</h1>
<p>Vous avez probablement mieux à faire que de consacrer du temps à réaliser des plans techniques d’exécution du niveau d’un dessinateur projeteur spécialisé dans le bâtiment comme moi.</p>
<p>Vous pourriez donc me les sous-traiter.</p>
<p>Je suis habitué, avec le logiciel AUTOCAD à réaliser notamment ces plans :</p>
<ul>
  <li>Plan d’implantation bâtiment</li>
  <li>Plans et coupes selon demande</li>
  <li>Plan d’installation du chantier</li>
  <li>Plan de terrassement et de plateformes</li>
  <li>Plan de calepinage des voiles contre terre</li>
  <li>Plan de fondations après étude béton par ingénieur béton</li>
  <li>Plan d’infrastructure avec détails : rampe VH VB</li>
  <li>Plan des réseaux sous dallage avec étude de la cuve hydrocarbure</li>
  <li>Plan de superstructure avec les détails</li>
  <li>Plan d’aménagement extérieur</li>
  <li>Plan des voiries et parkings</li>
  <li>Plan des réseaux extérieurs et connexion avec l’existant</li>
  <li>Plan d’étanchéité des toitures terrasses et balcons</li>
  <li>Nomenclature des baies en béton (préfabrication)</li>
</ul>
<!--TODO: Faire un composant réutilisable simpleContactDetails-->
<p>Contactez-moi : Julien GUERIN 06-43-06-02-87 julien.guerin.dp41@gmail.com Mes honoraires : Au temps passé, 30€/h journée 200€ ou au forfait à convenir</p>
