<app-profile-header [profileInfos]=profile.basicProfileInformations [socialNetworks]="profile.socialNetworks!"></app-profile-header>
<div class="m-2 md:my-6 md:mx-8 profilePage">
  <div class="my-3">
    <app-summary [summary]=profile.summary></app-summary>
  </div>
  <div class="my-3">
    <app-skills [skills]="profile.skills"></app-skills>
  </div>
  <div class="my-3">
    <app-experiences [experiences]=profile.experiences></app-experiences>
  </div>
  <div class="my-3">
    <app-school-curriculum [schoolCurriculum]="profile.schoolCurriculum"></app-school-curriculum>
  </div>
</div>
